
/**********************************************************Common******************************************************/

/**********************************************************Common******************************************************/

/**********************************************************Signup******************************************************/

@media (min-width: 768px) {
    .signup-navbar > .container .navbar-brand {
        margin-left: 0;
    }
}

.signup-navbar {
    margin-bottom: 0;
}
.signup-navbar .navbar-header {
    float: left;
}
.signup-navbar .navbar-right-side {
    height: 50px;
    line-height: 50px;
}
.signup-navbar .navbar-right-side > *{
    vertical-align: middle;
}
.signup-navbar-title {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}

.signup-navbar-ad {
    height: 20px;
    background: url(../img/reg_hr.png) no-repeat center top;
    margin-bottom: 20px;
}

/**********************************************************Signup******************************************************/

/**********************************************************NavBar******************************************************/

.main-container {
    padding-top: 70px;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        float: left;
    }
}
@media (min-width: 768px) {
    .demo-navbar > .container .navbar-brand {
        margin-left: 0;
    }
}

.demo-navbar {
    border-radius: 0!important;
}
.demo-navbar .navbar-header {
    float: left;
    margin-left: 0;
}
.navbar-header .navbar-brand {
    padding: 0;
}
.navbar-brand .logo {
    height: 50px;
    padding: 5px 0;
}
.navbar-header .navbar-toggle-btn {
    height: 50px;
    padding: 0;
    margin: 0 15px;
    border: none;
}
.navbar-inverse .navbar-toggle-btn:hover,
.navbar-inverse .navbar-toggle-btn:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle-btn .icon-bar {
    background-color: #9d9d9d;
}
.navbar-inverse .navbar-toggle-btn:hover .icon-bar,
.navbar-inverse .navbar-toggle-btn:focus .icon-bar{
    background-color: #fff;
}

.navbar-right-side {
    float: right;
    color: #9d9d9d;
    margin-right: 0;
}

.user-card {
    height: 50px;
    line-height: 50px;
}
.user-card > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.ui-group {
    margin-bottom: 0;
}

/**********************************************************NavBar******************************************************/